In [47]:
import os
import PyPDF2
import tabula
import pandas as pd

# Set the path to the directory containing the PDFs
pdf_directory = './rawtabcards/'
                         
# Extract tables from the PDF file
pdf_path = pdf_directory = './rawtabcards/Bing Fall 2022 Tab Cards.pdf'
tables = tabula.read_pdf(pdf_path, pages='all', output_format='dataframe', multiple_tables = True)
##initialize first dataframe
df = tables[0]
name1 = df.columns[5]
name2 = df.columns[6]

##names1 = df.iloc[6::6, 5]
##names2 = df.iloc[6::6, 6]
##print(names1)
##print(names2)

new_names = {df.columns[5]: 'Person1', df.columns[6]: 'Person2'}
df = df.rename(columns=new_names)
##team = name1 + ", " + name2
# insert a new column at the beginning of the DataFrame
new_column = pd.Series([name1 for i in range(5)], name='Name1')
df.insert(0, 'Name1', new_column)

new_column = pd.Series([name2 for i in range(5)], name='Name2')
df.insert(1, 'Name2', new_column)

# Remove rows that start with a specific name
mask = ~df['R'].str.startswith('Tournament Totals:')
df = df.loc[mask]
# Filter rows that start with "R"
filtered_df = df[df['R'].str.startswith('R')]
names1 = filtered_df['Person1']
names2 = filtered_df['Person2']
print(names1)
print(names2)

mask = ~df['R'].str.startswith('R')
df = df.loc[mask]

print(df)

##Fix this
j = 6
count = 1
df.iloc[5, df.columns.get_loc('Name1')] = names1[6]
df.iloc[5, df.columns.get_loc('Name2')] = names2[6]

i = 0
j = -1
while True:
    if i % 5 == 0:
        j+=7
    try:
        df.iloc[i+5, df.columns.get_loc('Name1')] = names1[j]
        df.iloc[i+5, df.columns.get_loc('Name2')] = names2[j]
    except KeyError:
        break
    i+=1

'''for i in range(len(df)):
    if i<5:
        continue
    # insert the new row at index 1
    df.loc[i, ['Name1', 'Name2']] = {'Name1': names1[j], 'Name2': names2[j]}
    ##df = pd.concat([df.iloc[:i], new_row, df.iloc[i:]]).reset_index(drop=True)
    count+=1
    if count%4 == 0:
        j+=7
        try:
            temp1 = names1[j]
            temp2 = names2[j]
        except KeyError:
            break
'''


    
output_path = "./file.csv"
df.to_csv(output_path, index=False)

6       Andrew\rMonteith\r(V)
13    Irina\rZnamirowski\r(V)
20          Ahmad\rHoward (V)
27         Aidan\rShannon (V)
34      Katrina\rHotaling (V)
41           Gabe\rRitter (V)
48          Leo Fleissig\r(V)
55        Ethan\rShurberg (V)
62          Laura\rGiugno (V)
Name: Person1, dtype: object
6       Peregrine\rBeckett (V)
13              John\rLowe (V)
20                Helen W\r(V)
27             Nish\rSinha (V)
34           Nick\rDeVito\r(V)
41    Prottoya\rChowdhury\r(V)
48               Mac Hays\r(V)
55            Shiv\rChawla (V)
62         Samuel\rJohnson (V)
Name: Person2, dtype: object
                  Name1              Name2  R G/O W/L  \
0   Bart\rKaminski\r(V)  Eugenie\rPark (V)  1   O   L
1   Bart\rKaminski\r(V)  Eugenie\rPark (V)  2   G   W
2   Bart\rKaminski\r(V)  Eugenie\rPark (V)  3   G   W
3   Bart\rKaminski\r(V)  Eugenie\rPark (V)  4   O   L
4   Bart\rKaminski\r(V)  Eugenie\rPark (V)  5   G   W
7                   NaN                NaN  1   G   W
8                   NaN                NaN  2   G   L
9                   NaN                NaN  3   O   W
10                  NaN                NaN  4   G   L
11                  NaN                NaN  5   O   W
14                  NaN                NaN  1   G   L
15                  NaN                NaN  2   O   W
16                  NaN                NaN  3   O   W
17                  NaN                NaN  4   G   L
18                  NaN                NaN  5   G   L
21                  NaN                NaN  1   O   L
22                  NaN                NaN  2   G   L
23                  NaN                NaN  3   O   W
24                  NaN                NaN  4   G   W
25                  NaN                NaN  5   O   W
28                  NaN                NaN  1   O   L
29                  NaN                NaN  2   O   W
30                  NaN                NaN  3   G   L
31                  NaN                NaN  4   O   W
32                  NaN                NaN  5   G   L
35                  NaN                NaN  1   G   W
36                  NaN                NaN  2   O   W
37                  NaN                NaN  3   G   W
38                  NaN                NaN  4   G   W
39                  NaN                NaN  5   O   W
42                  NaN                NaN  1   G   W
43                  NaN                NaN  2   G   W
44                  NaN                NaN  3   O   L
45                  NaN                NaN  4   O   W
46                  NaN                NaN  5   G   L
49                  NaN                NaN  1   O   W
50                  NaN                NaN  2   G   L
51                  NaN                NaN  3   O   L
52                  NaN                NaN  4   O   L
53                  NaN                NaN  5   G   L
56                  NaN                NaN  1   O   L
57                  NaN                NaN  2   O   L
58                  NaN                NaN  3   G   L
59                  NaN                NaN  4   G   L
60                  NaN                NaN  5   O   W
63                  NaN                NaN  1   G   W
64                  NaN                NaN  2   O   L
65                  NaN                NaN  3   G   L
66                  NaN                NaN  4   O   W
67                  NaN                NaN  5   O   L

                           Opponent                          Judge  \
0         pink crocks no\rsocks III                Charvi\rBhayana
1                       Brandeis CS                      Jack Rowe
2               Brown\rHyperreality                 Peter\rKladais
3        where are APDA's\rfemboys?              Olivia\rTaverni 2
4                   Ahmad and Helen                    Ryan\rGeary
7                   (B)ART\rHISTORY                Charvi\rBhayana
8       where are\rAPDA's\rfemboys?  Olivia\rTaverni -\rRyan Geary
9                  Ahmad and\rHelen          Briana Lopez-\rPatino
10                         Brown CR                      Jack Rowe
11  (max character\rlimit exceeded)                  Peter Kladais
14              Brown\rHyperreality                Olivia\rTaverni
15                    Sam and Laura         Briana\rLopez-\rPatino
16                       Chicago SS                      Jack Rowe
17                 Ahmad and\rHelen                Charvi\rBhayana
18        pink crocks no\rsocks III                 Peter\rKladais
21       where are APDA's\rfemboys?                      Jack Rowe
22  (max character\rlimit exceeded)         Briana\rLopez-\rPatino
23                      Brandeis CS                Olivia\rTaverni
24              Brown\rHyperreality                     Ryan Geary
25                       Chicago SS                    Jack Rowe 2
28                         Brown CR                 Chuck\rForeman
29               Brown Hyperreality                Charvi\rBhayana
30  (max character limit\rexceeded)                      Jack Rowe
31                      Brandeis CS                 Peter\rKladais
32                    Sam and Laura                   Jack Rowe\r2
35                    Sam and Laura                      Jack Rowe
36        pink crocks no\rsocks III   Olivia Taverni -\rRyan Geary
37                         Brown CR                 Charvi Bhayana
38                  (B)ART\rHISTORY               Olivia Taverni 2
39                         Brown CR               Emmanuel\rMurphy
42                       Chicago SS                 Chuck\rForeman
43                 Ahmad and\rHelen                 Peter\rKladais
44      where are\rAPDA's\rfemboys?                Charvi\rBhayana
45        pink crocks no\rsocks III                      Jack Rowe
46      where are\rAPDA's\rfemboys?               Emmanuel\rMurphy
49  (max character limit\rexceeded)                Olivia\rTaverni
50                       Chicago SS                Charvi\rBhayana
51                   (B)ART HISTORY                 Peter\rKladais
52                    Sam and Laura                     Ryan Geary
53                      Brandeis CS              Olivia\rTaverni 2
56                 Ahmad and\rHelen                   Grace\rMarin
57                  (B)ART\rHISTORY                      Jack Rowe
58                    Sam and Laura                Olivia\rTaverni
59                       Chicago SS                 Peter\rKladais
60              Brown\rHyperreality              Olivia\rTaverni 2
63                      Brandeis CS                   Grace\rMarin
64                         Brown CR                 Peter\rKladais
65        pink crocks no\rsocks III         Briana\rLopez-\rPatino
66  (max character\rlimit exceeded)                Charvi\rBhayana
67                  (B)ART\rHISTORY                     Ryan Geary

        Person1      Person2          Total
0   (29.0, 2.0)  (25.0, 4.0)    (54.0, 6.0)
1   (29.0, 1.0)  (26.0, 3.0)  (109.0, 10.0)
2   (26.0, 3.0)  (30.0, 1.0)  (165.0, 14.0)
3   (30.0, 3.0)  (29.0, 4.0)  (224.0, 21.0)
4   (30.0, 3.0)  (33.0, 1.0)  (287.0, 25.0)
7   (29.0, 1.0)  (25.0, 3.0)    (54.0, 4.0)
8   (29.0, 3.0)  (28.0, 4.0)  (111.0, 11.0)
9   (28.0, 3.0)  (30.0, 1.0)  (169.0, 15.0)
10  (31.0, 2.0)  (28.0, 4.0)  (228.0, 21.0)
11  (29.0, 2.0)  (30.0, 1.0)  (287.0, 24.0)
14  (31.0, 4.0)  (31.0, 3.0)    (62.0, 7.0)
15  (29.0, 1.0)  (25.0, 3.0)  (116.0, 11.0)
16  (27.0, 3.0)  (32.0, 1.0)  (175.0, 15.0)
17  (28.0, 3.0)  (27.0, 4.0)  (230.0, 22.0)
18  (26.0, 4.0)  (28.0, 3.0)  (284.0, 29.0)
21  (28.0, 3.0)  (26.0, 4.0)    (54.0, 7.0)
22  (27.0, 2.0)  (25.0, 4.0)  (106.0, 13.0)
23  (33.0, 2.0)  (34.0, 1.0)  (173.0, 16.0)
24  (30.0, 2.0)  (31.0, 1.0)  (234.0, 19.0)
25  (30.0, 1.0)  (29.0, 2.0)  (293.0, 22.0)
28  (22.0, 4.0)  (26.0, 2.0)    (48.0, 6.0)
29  (29.0, 1.0)  (26.0, 3.0)  (103.0, 10.0)
30  (28.0, 2.0)  (24.0, 4.0)  (155.0, 16.0)
31  (27.0, 3.0)  (29.0, 1.0)  (211.0, 20.0)
32  (27.0, 4.0)  (27.0, 3.0)  (265.0, 27.0)
35  (33.0, 1.0)  (29.0, 2.0)    (62.0, 3.0)
36  (32.0, 1.0)  (31.0, 2.0)   (125.0, 6.0)
37  (32.0, 1.0)  (31.0, 3.0)  (188.0, 10.0)
38  (31.0, 2.0)  (32.0, 1.0)  (251.0, 13.0)
39  (30.0, 2.0)  (31.0, 1.0)  (312.0, 16.0)
42  (30.0, 1.0)  (25.0, 3.0)    (55.0, 4.0)
43  (32.0, 1.0)  (26.0, 4.0)   (113.0, 9.0)
44  (31.0, 2.0)  (29.0, 4.0)  (173.0, 15.0)
45  (31.0, 1.0)  (28.0, 3.0)  (232.0, 19.0)
46  (29.0, 3.0)  (27.0, 4.0)  (288.0, 26.0)
49  (32.0, 1.0)  (31.0, 2.0)    (63.0, 3.0)
50  (28.0, 2.0)  (26.0, 4.0)   (117.0, 9.0)
51  (25.0, 4.0)  (29.0, 2.0)  (171.0, 15.0)
52  (28.0, 4.0)  (30.0, 3.0)  (229.0, 22.0)
53  (29.0, 3.0)  (30.0, 2.0)  (288.0, 27.0)
56  (26.0, 4.0)  (27.0, 3.0)    (53.0, 7.0)
57  (25.0, 4.0)  (27.0, 2.0)  (105.0, 13.0)
58  (29.0, 4.0)  (30.0, 3.0)  (164.0, 20.0)
59  (28.0, 2.0)  (26.0, 4.0)  (218.0, 26.0)
60  (32.0, 1.0)  (28.0, 4.0)  (278.0, 31.0)
63  (28.0, 2.0)  (29.0, 1.0)    (57.0, 3.0)
64  (28.0, 3.0)  (29.0, 2.0)   (114.0, 8.0)
65  (27.0, 4.0)  (29.0, 2.0)  (170.0, 14.0)
66  (30.0, 2.0)  (30.0, 1.0)  (230.0, 17.0)
67  (29.0, 4.0)  (31.0, 2.0)  (290.0, 23.0)

In [ ]:
'''
# Iterate through all files in the directory
for filename in os.listdir(pdf_directory):
    if filename.endswith('.pdf'):
        
        # Open the PDF file
        pdf_file = open(os.path.join(pdf_directory, filename), 'rb')

        # Create a PDF reader object
        pdf_reader = PyPDF2.PdfFileReader(pdf_file)

        # Iterate through all pages of the PDF
        for page_num in range(pdf_reader.numPages):
            # Get the text from the page
            page = pdf_reader.getPage(page_num)
            text = page.extractText()

            # Do something with the text
            print(text)

        # Close the PDF file
        pdf_file.close()
    break
'''
'''
# Loop through remaining tables and concatenate without headers
for table in tables[1:]:

    # Concatenate the dataframes into a single dataframe
    ##df = pd.concat(tables, ignore_index=True)

    df = table
    name1 = df.columns[5]
    name2 = df.columns[6]


    team = name1 + ", " + name2

    # insert a new column at the beginning of the DataFrame
    new_column = pd.Series([team for i in range(5)], name='Names')
    df.insert(0, 'Names', new_column)
        
    # Remove rows that start with a specific name
    mask = ~df['R'].str.startswith('Tournament Totals:')
    df = df.loc[mask]
    
    ##Remove headers
    df.columns = range(df.shape[1])
    print(df)
    df_concat = pd.concat([df_concat, df], axis=1)
    '''