In [43]:
import os

import tabula
import pandas as pd


# Set the path to the directory containing the PDFs
pdf_directory = './rawtabcards/'


                         
# Extract tables from the PDF file
pdf_path = pdf_directory = './rawtabcards/Yale APDA 2023 Tab Cards.pdf'
tables = tabula.read_pdf(pdf_path, pages='all', output_format='dataframe', multiple_tables = True, lattice = True, guess = False,)
##initialize first dataframe
df = tables[0]
name1 = df.columns[5]
name2 = df.columns[6]

##names1 = df.iloc[6::6, 5]
##names2 = df.iloc[6::6, 6]
##print(names1)
##print(names2)

new_names = {df.columns[5]: 'Person1', df.columns[6]: 'Person2'}
df = df.rename(columns=new_names)
##team = name1 + ", " + name2
# insert a new column at the beginning of the DataFrame
new_column = pd.Series([name1 for i in range(5)], name='Name1')
df.insert(0, 'Name1', new_column)

new_column = pd.Series([name2 for i in range(5)], name='Name2')
df.insert(1, 'Name2', new_column)

print(df)
# Unused metric for now
mask = ~df['R'].str.startswith('Tournament Totals:')
df = df.loc[mask]
# Filter rows that start with "R" to get participant names
filtered_df = df[df['R'].str.startswith('R')]
names1 = filtered_df['Person1']
names2 = filtered_df['Person2']


##Remove dummy header columns
mask = ~df['R'].str.startswith('R')
df = df.loc[mask]


##Insertion of both names
i = 0
j = -1
while True:
    if i % 5 == 0:
        j+=7
    try:
        df.iloc[i+5, df.columns.get_loc('Name1')] = names1[j]
        df.iloc[i+5, df.columns.get_loc('Name2')] = names2[j]
    except KeyError:
        break
    i+=1


    
output_path = "./file.csv"
df.to_csv(output_path, index=True)

     Name1                     Name2                   R             G/O  \
0    Judge  Ella\rBullock-\rpapa (N)                   1               G
1    Judge  Ella\rBullock-\rpapa (N)                   2               O
2    Judge  Ella\rBullock-\rpapa (N)                   3               O
3    Judge  Ella\rBullock-\rpapa (N)                   4               G
4    Judge  Ella\rBullock-\rpapa (N)                   5               G
..     ...                       ...                 ...             ...
351    NaN                       NaN                   2               O
352    NaN                       NaN                   3               G
353    NaN                       NaN                   4               O
354    NaN                       NaN                   5               O
355    NaN                       NaN  Tournament Totals:  (140.00,16.00)

                W/L                    Opponent  \
0                 L             girls next door
1                 W                      NYU CS
2                 W  Nacho Average\rMissourians
3                 L         quaker spice\rgirls
4                 L                  Casual Sex
..              ...                         ...
351               L                 Stanford CT
352               W      U Massdebate\rToo Much
353               L             girls next door
354               L                 Stanford CK
355  (146.00,10.00)              (286.00,26.00)

                         Unnamed: 4                        Person1  \
0                               NaN  Ryan Gumlia -\rShyla\rSummers
1                               NaN                    Teddy Tawil
2                               NaN              Chris\rVanderpool
3                               NaN               Reed\rEasterling
4                               NaN                    Ben Daniels
..                              ...                            ...
351        Aidan Healy -\rJaimy Kim                    (27.0, 4.0)
352  Reed Easterling\r- Ryan Gumlia                    (27.0, 3.0)
353                    Maddie Nagle                    (28.0, 4.0)
354                    Aryan Sehgal                    (28.0, 2.0)
355                             NaN                            NaN

         Person2 Stone Yang\r(N)          Total
0    (29.0, 2.0)     (27.0, 4.0)    (56.0, 6.0)
1    (29.0, 2.0)     (31.0, 1.0)   (116.0, 9.0)
2    (30.0, 1.0)     (29.0, 2.0)  (175.0, 12.0)
3    (25.0, 4.0)     (26.0, 3.0)  (226.0, 19.0)
4    (29.0, 4.0)     (30.0, 2.0)  (285.0, 25.0)
..           ...             ...            ...
351  (29.0, 2.0)   (118.0, 10.0)            NaN
352  (28.0, 1.0)   (173.0, 14.0)            NaN
353  (31.0, 2.0)   (232.0, 20.0)            NaN
354  (26.0, 4.0)   (286.0, 26.0)            NaN
355          NaN             NaN            NaN

[356 rows x 11 columns]

In [60]:
pdf_directory = './rawtabcards/'
# Iterate through all files in the directory
for filename in os.listdir(pdf_directory):
    print(filename)
    if filename == 'BroAmsTabCards.pdf':
        continue
    if filename.endswith('.pdf'):

        # Extract tables from the PDF file
        pdf_path = pdf_directory + filename
        tables = tabula.read_pdf(pdf_path, pages='all', output_format='dataframe', multiple_tables = True)
        ##initialize first dataframe
        df = tables[0]
        name1 = df.columns[5]
        name2 = df.columns[6]

        ##names1 = df.iloc[6::6, 5]
        ##names2 = df.iloc[6::6, 6]
        ##print(names1)
        ##print(names2)

        new_names = {df.columns[5]: 'Person1', df.columns[6]: 'Person2'}
        df = df.rename(columns=new_names)
        ##team = name1 + ", " + name2
        # insert a new column at the beginning of the DataFrame
        new_column = pd.Series([name1 for i in range(5)], name='Name1')
        df.insert(0, 'Name1', new_column)

        new_column = pd.Series([name2 for i in range(5)], name='Name2')
        df.insert(1, 'Name2', new_column)

        # Unused metric for now
        mask = ~df['R'].str.startswith('Tournament Totals:')
        df = df.loc[mask]
        # Filter rows that start with "R" to get participant names
        filtered_df = df[df['R'].str.startswith('R')]
        names1 = filtered_df['Person1']
        names2 = filtered_df['Person2']


        ##Remove dummy header columns
        mask = ~df['R'].str.startswith('R')
        df = df.loc[mask]

        ##Insertion of both names
        i = 0
        j = -1
        while True:
            if i % 5 == 0:
                j+=7
            try:
                df.iloc[i+5, df.columns.get_loc('Name1')] = names1[j]
                df.iloc[i+5, df.columns.get_loc('Name2')] = names2[j]
            except KeyError:
                break
            i+=1



        output_path = "./file.csv"
        df.to_csv(output_path, index=True)
    
'''
# Loop through remaining tables and concatenate without headers
for table in tables[1:]:

    # Concatenate the dataframes into a single dataframe
    ##df = pd.concat(tables, ignore_index=True)

    df = table
    name1 = df.columns[5]
    name2 = df.columns[6]


    team = name1 + ", " + name2

    # insert a new column at the beginning of the DataFrame
    new_column = pd.Series([team for i in range(5)], name='Names')
    df.insert(0, 'Names', new_column)
        
    # Remove rows that start with a specific name
    mask = ~df['R'].str.startswith('Tournament Totals:')
    df = df.loc[mask]
    
    ##Remove headers
    df.columns = range(df.shape[1])
    print(df)
    df_concat = pd.concat([df_concat, df], axis=1)
    '''

Bing Fall 2022 Tab Cards.pdf
BroAmsTabCards.pdf
broccoli.nu-tab.com.pdf

CSVParseError: Error failed to create DataFrame with different column tables.
Try to set `multiple_tables=True`or set `names` option for `pandas_options`.
, caused by ParserError('Error tokenizing data. C error: Expected 8 fields in line 8, saw 9\n')